body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    min-width: 320px;
    font-family: 'Montserrat', sans-serif;
    
    &.no-scroll{
        overflow-y: hidden;
    }
}

.container{
    max-width: 1400px;
    padding: 0 20px;
    margin: auto;
}


.close-icon{
    width: 20px;
    height: 20px;
    background: url('./assest/icon/close-button.svg') no-repeat center;
    background-size: contain;
    display: block;
}
