.is-ctl-listing{
    .header-main{
        background: #111418;
    }
}


.header-main{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: all 0.5s ease;


    &.is-sticky{
        background: #111418;
    }

    .header-content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0;
    }

    .logo-content{

        span{
            font-size: 26px;
            border: 1px solid #ffffff;
            padding: 4px 7px 4px 15px;
            line-height: 31px;
            color: #fff;
            letter-spacing: 8px;
            text-transform: uppercase;
            cursor: pointer;
        }
    }

    .header-nav{
        .nav-item-list{
            list-style: none;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
        }

        .nav-item{
            margin-right: 15px;

            &:last-child{
                margin-right: 0;
            }
        }

        .nav-item-btn{
            background: transparent;
            border: 2px solid #fff;
            border-radius: 25px;
            color: #ffffff;
            padding: 6px 22px ;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            cursor: pointer;
            transition: all 0.5s ease;
            outline: none;
            font-family: 'Montserrat', sans-serif;

            &:hover{
                background: #ffffff;
                color: #000000;
            }
        }

        .nav-item-link{
            color: #ffffff;
            font-size: 16px;
            line-height: 24px;
            cursor: pointer;
            border-top: 2px solid transparent;
            border-bottom: 2px solid transparent;
            padding: 9px 12px ;

            &:hover{
                border-bottom: 2px solid #ffffff;
            }
        }

    }

}