.footer-main {
  background: transparent;
  padding: 10px 0;

  .copyright {
    color: #97a2b4;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    text-align: center;
    font-weight: 600;
  }
}
